<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a></li>
            <li class="main-header__item"><a class="<%= path === '/admin/add-match' ? 'active' : '' %>" href="/admin/add-match">Add Match</a></li>
        </ul>
    </nav>
</header>