<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/nav.ejs') %>

    <main>
        <% if (mtchs.length > 0) { %>
            <% for (let match of mtchs) { %>
                <h3><%= match.title %></h3>
            <% } %>
        <% } else { %>
            <h1>no products found. matches array not greater than 0</h1>
        <% } %>
    </main>
    <%- include('includes/end.ejs') %>